<?xml version="1.0"?>
<!-- 
    As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>

    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false"/>
    </configSections>

    <appSettings/>

    <unity>
        <typeAliases>
            <!-- Lifetime Managers -->
            <typeAlias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
            <typeAlias alias="External" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>
            <!-- In testing environment PerRequest equals Singleton -->
            <typeAlias alias="PerRequest" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
            <!---->

            <!-- DataAccess -->
            <typeAlias alias="IConnectionString" type="LogicSoftware.DataAccess.Repository.LinqToSql.IConnectionString, LogicSoftware.DataAccess.Repository" />
            <typeAlias alias="ConfigurationConnectionString" type="LogicSoftware.DataAccess.Repository.LinqToSql.ConfigurationConnectionString, LogicSoftware.DataAccess.Repository" />

            <typeAlias alias="ISqlConnectionManager" type="LogicSoftware.DataAccess.Repository.LinqToSql.ISqlConnectionManager, LogicSoftware.DataAccess.Repository" />
            <typeAlias alias="SqlConnectionManager" type="LogicSoftware.DataAccess.Repository.LinqToSql.SqlConnectionManager, LogicSoftware.DataAccess.Repository" />
            
            <typeAlias alias="IRepository" type="LogicSoftware.DataAccess.Repository.Basic.IRepository, LogicSoftware.DataAccess.Repository" />
            <typeAlias alias="LinqToSqlRepository" type="LogicSoftware.DataAccess.Repository.LinqToSql.LinqToSqlRepository, LogicSoftware.DataAccess.Repository" />
            <typeAlias alias="MemoryRepository" type="LogicSoftware.DataAccess.Repository.Memory.MemoryRepository, LogicSoftware.DataAccess.Repository" />

            <typeAlias alias="IExtendedRepository" type="LogicSoftware.DataAccess.Repository.Extended.IExtendedRepository, LogicSoftware.DataAccess.Repository" />
            <typeAlias alias="ExtendedRepository" type="LogicSoftware.DataAccess.Repository.Extended.ExtendedRepository, LogicSoftware.DataAccess.Repository" />

            <typeAlias alias="IExtendedQueryExecutor" type="LogicSoftware.DataAccess.Repository.Extended.IExtendedQueryExecutor, LogicSoftware.DataAccess.Repository" />
            <typeAlias alias="ExtendedQueryExecutor" type="LogicSoftware.DataAccess.Repository.Extended.ExtendedQueryExecutor, LogicSoftware.DataAccess.Repository" />
            <!-- typeAlias alias="ValidatingExtendedQueryExecutor" type="LogicSoftware.DataAccess.Repository.Extensions.Tests.ValidatingExtendedQueryExecutor, LogicSoftware.DataAccess.Repository.Extensions" /-->

            <typeAlias alias="IRepositoryExtensionsProvider" type="LogicSoftware.DataAccess.Repository.Extended.IRepositoryExtensionsProvider, LogicSoftware.DataAccess.Repository" />
            <typeAlias alias="RepositoryExtensionsProvider" type="LogicSoftware.DataAccess.Repository.Extended.RepositoryExtensionsProvider, LogicSoftware.DataAccess.Repository" />

            <typeAlias alias="IInterceptorFactory" type="LogicSoftware.DataAccess.Repository.Extended.Interceptors.IInterceptorFactory, LogicSoftware.DataAccess.Repository" />
            <typeAlias alias="InterceptorFactory" type="LogicSoftware.DataAccess.Repository.Extended.Interceptors.InterceptorFactory, LogicSoftware.DataAccess.Repository" />

            <typeAlias alias="IScope" type="LogicSoftware.DataAccess.Repository.Extended.IScope, LogicSoftware.DataAccess.Repository" />
            <typeAlias alias="ITestScope" type="LogicSoftware.DataAccess.Repository.Tests.ITestScope, LogicSoftware.DataAccess.Repository.Tests" />
            <typeAlias alias="TestScope" type="LogicSoftware.DataAccess.Repository.Tests.TestScope, LogicSoftware.DataAccess.Repository.Tests" />
            <!---->
        </typeAliases>
        <containers>
            <container>
                <types>
                    <type type="ITestScope" mapTo="TestScope">
                        <lifetime type="PerRequest" />
                    </type>
                    <type type="IScope" mapTo="TestScope">
                        <lifetime type="PerRequest" />
                    </type>

                    <type type="IRepository" mapTo="MemoryRepository">
                        <lifetime type="PerRequest" />
                    </type>

                    <type type="IExtendedRepository" mapTo="ExtendedRepository">
                        <lifetime type="PerRequest" />
                    </type>

                    <type type="IExtendedQueryExecutor" mapTo="ExtendedQueryExecutor" />

                    <type type="IRepositoryExtensionsProvider" mapTo="RepositoryExtensionsProvider" />

                    <type type="IInterceptorFactory" mapTo="InterceptorFactory" />
                </types>
            </container>
        </containers>
    </unity>
    
</configuration>